<!-- Filters bar: decade, stay duration, basemap -->
<div class="filters">
    
    <!-- Basemaps (hidden if none provided) -->
     @if (basemaps.length > 0)
     {
         <select (change)="onBasemapSelectChange($event.target)" [value]="selectedBasemap ?? basemaps[0].value">
            @for (bm of basemaps; track bm.value) 
            {
                <option [value]="bm.value">{{ bm.label }}</option>
            }
        </select>
     }

    <!-- Decades (multi-decades are possible) -->
   <select
        [ngModel]="selectedDecade"
        (ngModelChange)="decadeChange.emit($event)">
        <option [ngValue]="null">All Decades</option>
        @if (decades$ | async; as decades)
        {
            @for (d of decades; track d)
            {
                <option [ngValue]="d">{{ d }}</option>
            }
        }
    </select>

    <!-- Location filter (countries and regions) -->
    <select
        [ngModel]="selectedLocation"
        (ngModelChange)="locationChange.emit($event)">
        <option [ngValue]="null">All Locations</option>
        @if (locations$ | async; as locations)
        {
            @for (option of locations; track option.filterValue)
            {
                <option [ngValue]="option.filterValue">{{ option.filterLabel }}</option>
            }
        }
    </select>

    <!-- Stay durations (singles only) -->
    <select
        [ngModel]="selectedStayDuration"
        (ngModelChange)="stayDurationChange.emit($event)">
        <option [ngValue]="null">All Stay Durations</option>
        @if (stayDurations$ | async; as stays)
        {
            @for (d of stays; track d)
            {
                <option [ngValue]="d">{{ d }}</option>
            }
        }
    </select>

     <mat-button-toggle-group
        [value]="currentEngine"
        (change)="onEngineChange($event.value)"
        class="engine-segment">
        
        <mat-button-toggle value="leaflet">
            Leaflet
        </mat-button-toggle>

        <mat-button-toggle value="mapbox">
            Mapbox
        </mat-button-toggle>

        <mat-button-toggle value="google">
            Google
        </mat-button-toggle>

    </mat-button-toggle-group>
    
</div>