<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->

<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>

		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SelfContained>false</SelfContained>

		<MSDeployServiceURL>https://travelswithcal.com:8172/msdeploy.axd?site=travelswithcal.com</MSDeployServiceURL>


		<!-- Target the IIS *Application* -->
		<DeployIisAppPath>travelswithcal.com/mycities/dataservice</DeployIisAppPath>


		<!-- Prevent IIS settings changes (avoids appHostConfig permission issue) -->
		<IncludeIisSettings>false</IncludeIisSettings>

		<SiteUrlToLaunchAfterPublish>https://travelswithcal.com/mycities/dataservice</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>

		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>

		<UserName>brexitsc</UserName>
		<_SavePWD>true</_SavePWD>

		<AllowUntrustedCertificate>true</AllowUntrustedCertificate>
		<_TargetId>IISWebDeploy</_TargetId>
	</PropertyGroup>
</Project>